<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gm.com.ecommerce">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityJ"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ActivityI"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ActivityE"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.ActivityC" />
        <activity
            android:name=".activities.ActivityM"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.ActivityN" />
        <activity android:name=".activities.ActivityA" />
        <activity android:name=".activities.ActivityB" />
        <activity android:name=".activities.ActivityG" />
        <activity
            android:name=".activities.ActivityD"
            android:label="@string/title_activity_activity_d"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ActivityF"
            android:label="@string/title_activity_actvity_f"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.ActivityK"></activity>
    </application>

</manifest>